// -----------------------------------------------------------------------------
// GNB
// -----------------------------------------------------------------------------

/* 헤더 GNB */
#header {
  //border: 1px solid #f00;
  position: relative;
}

.header-bar {
  position: fixed;
  left: 0; top: 0;
  z-index: 99;
  width: 100%; height: 100px;
  background: #fff;
  border-bottom: 1px solid #E1E2E6;
  transition: top 0.2s ease-in-out;

  @at-root .fp-viewing-0 .header-bar{
    background: transparent;
    border-bottom: 0 none;
  }
  
  .logo {
    position: absolute;
    left: 50px; top: 28px;
    a {display: block;}
  }
  
  .gnb-list {
    position: absolute;
    left: 50%; top: 36px;
    @include translate(-50%, 0);
    
    > li {
      position: relative;
      display: inline-block;
      padding: 0 60px;
      height:80px;
      
      > a {
        position: relative;
        display: inline-block;
        font-weight: 500;
        font-size: 18px;
        color: #111;
        
        &:hover, &:focus, &:active {
          color: $color-primary;
          &:after {
            content: '';
            display: block;
            width: 30px; height: 3px;
            background: $color-primary;
            
            position: absolute;
            left: 50%; bottom: -6px;
            @include translate(-50%, 0);
          }
        }
      }
      
      > ul {
        display: none;
        background: $color-primary;
        padding: 40px;
        @include box-sizing();
        @include box-s(0, 5px, 10px, rgba(0,0,0,0.16));
        
        position: absolute;
        top: 65px; left: 50%;
        @include translate(-50%, 0);
        
        z-index: 990;
        li {
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
          
          a {
            display: block;
            color: $color-primary-light;
            text-align: center;
            font-size: 18px;
            
            &:hover, &:focus, &:active, &.is-current {
              color: #fff;
            }
          }
        }
      }
      
      &:nth-child(1) {
        ul {
          width: 290px;
          //display: block;
        }
      }
      &:nth-child(2) {
        ul {
          width: 220px;
        }
      }
      &:nth-child(3) {
        ul {
          width: 184px;
        }
      }

      &.is-active,
      &.on {
        >a{
          color: $color-primary;
          &:after {
            content: '';
            display: block;
            width: 30px; height: 3px;
            background: $color-primary;
            
            position: absolute;
            left: 50%; bottom: -6px;
            @include translate(-50%, 0);
          }
        }
      }
      &.is-active {
        >ul{
          display: block;
        }
      }
      
    }
      
  }
  
  .membership {
    position: absolute;
    right: 120px; top: 36px;
    li {
      position: relative;
      display: inline-block;
      margin-left: 40px;
      padding-left: 28px;
      a {
        display: inline-block;
        font-size: 16px;
        color: #888;
        
        &:hover, &:focus, &:active {
          color: $color-primary;
          i {
            color: $color-primary;
          }
        }
        i {
          font-size: 24px;
          color: #111;
          //border: 1px solid #f00;
          position: absolute;
          left: 0; top: 50%;
          @include translate(0, -50%);
        }
      }
    }
    
  }
}


/***** gnb list 반응형 대응 *****/
#header {
  
  @include mq($until: xx-large) {
    .header-bar {
      //border: 1px solid #369;
  
    }
  }
  
  @include mq($until: x-large) {
    .header-bar {
      //border: 1px solid #f00;
      
      .gnb-list, .membership {
        display: none;
      }
      
    }
  }
  
  @include mq($until: large) {
    .header-bar {
      //border: 1px solid #f0f;
  
    }
  }
  
  @include mq($until: medium) {
    .header-bar {
      //border: 1px solid #0ff;
      height: 60px;
  
      .logo {
        left: 20px; top: 20px;
        width: 102px;
      }
    }
    
    .btn-side-menu {
      //border: 1px solid #f00;
      right: 20px; top: 15px;
    }
  }
  
  @include mq($until: small) {
    .header-bar {
      //border: 1px solid #0f0;
  
    }
  }
  
  @include mq($until: x-small) {
    .header-bar {
      //border: 1px solid #959;
  
    }
  }
  
  @media (max-height: 420px) and (orientation: landscape) {
    .header-bar {
      //border: 1px solid #959;
      
      height: 60px;
      
      .logo {
        left: 20px; top: 20px;
        width: 102px;
      }
    }
    
    .btn-side-menu {
      //border: 1px solid #f00;
      right: 20px;
      top: 15px;
    }
  }
  
}

