$headerStickyHeight: 0px;

#header {
  .header-bar,
  .btn-side-menu {
    @include transition(transform 0.5s);
    @include transform(translateY(0));
  }
}

.scroll-down,
.gnb-active {
  #header {
    .header-bar.is-sticky{
      border-bottom: 1px solid #E1E2E6;
      background-color: #fff; 
      @include transform(translateY(-$headerStickyHeight));
    }
    
  }
}

.nav-opened {
  #header {
    .header-bar,
    .btn-side-menu {
      @include transition(transform 0.5s !important) ;
      @include transform(translateY(0) !important)  ;
    }
  }
}
  