// -----------------------------------------------------------------------------
// Sidenav
// -----------------------------------------------------------------------------

.btn-side-menu {
  //border: 1px solid #f00;
  position: fixed;
  right: 50px ; top: 35px;
  z-index: 1001;
  width: 30px; height: 30px;
  a {
    display: block;
    width: 100%; height: 100%;
    .m-menu {
      //border: 1px solid #f00;
      position: relative;
      top: 50%; left: 50%;
      width: 30px; height: 24px;
      @include translate(-50%, -50%);
      span {
        position: absolute;
        left: 0;
        width: 100%; height: 2px;
        background: #111;
        transition: all 0.3s;
        
        &:nth-child(1){top: 0;}
        &:nth-child(2){top: 11px;}
        &:nth-child(3){top: 22px;}
      }
    }
  }
}

/* 햄버거 메뉴를 x로 변경 */
.nav-opened {
  .side-nav {
    display: block; right: 0;
  }

  .btn-side-menu {
    position: fixed;
    right: 50px ; top: 35px;
    z-index: 10001;
    a {
      .m-menu {
        //border: 1px solid #ff0;
        span {
          &:nth-child(1) {
            transform: rotate(45deg);
            top: 11px;
          }
          &:nth-child(2) {
            transform: translate(-50px, 0);
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
            top: 11px;
          }
        }
      }
    }
  }
}


/* side-nav */
body {
  &:after {
    content:'';
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
    width: 0; height: 100vh;
    background: #fff;
  }

  &.nav-opened {
    overflow-y: hidden;
    &:after {
      //border: 1px solid #00f;
      width: 100%;
      height: 100vh;
      position: fixed;
      left: 0; top: 0;
    }
  }
}

.side-nav {
  position: fixed;
  top: 0; right: -200%;
  z-index: 9999;
  width: 100%; height: 100vh;
  transition: right 0.7s;

  .inner {
    //border: 1px solid #f00;
    position: relative;
    width: 100%; height: 100%;
    margin: 0 auto;
    @include box-sizing;
    overflow-y: auto;
    z-index: 1000;
    
    .header-bar {
      //border: 1px solid #f00;
      position: absolute;
      left: 0; top: 0;
    }
  }
}

/* 햄버거 메뉴 오픈 */
.gnb-wrap {
  //border: 1px solid #f00;
  position: absolute;
  top: 50%; left: 0;
  width: 100%;
  
  @include translate(0, -50%);
  @include box-sizing();
  
  .gnb-list-box {
    //border: 1px solid #00f;
    width: 100%; max-width: 1400px;
    margin: 0 auto;
    
    > li {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding: 26px 0;
      border-bottom: 1px solid #E1E2E6;
      &:last-child {
        border-bottom: none;
      }
      
      h2 {
        font-size: 60px;
        font-weight: 600;
        margin-right: 100px;
        float: left;
        color: #111;
      }
      
      ul {
        float: left;
        margin-top: 35px;
        li {
          display: inline-block;
          margin-right: 43px;
          a {
            display: block;
            font-size: 22px;
            color: #555;
            &:hover, &:focus, &:active, &.is-current {
              color: $color-primary;
            }
          }
        }
      }
      
    }
  }
}


/***** SNB 반응형 대응 *****/
#side-nav {
  
  @include mq($until: xx-large) {
    //border: 1px solid #f00;
    
    .gnb-wrap {
      padding: 0 40px;
    }
  }
  
  @include mq($until: x-large) {
    //border: 1px solid #f00;
    
  }
  
  @include mq($until: large) {
    //border: 1px solid #00f;
    
    .membership {display: block;}
    
    .gnb-wrap {
      top: 120px;
      @include translate(0, 0);
      padding: 15px;
      
      .gnb-list-box {
        //border: 1px solid #00f;
        > li {
          h2 {
            font-size: 40px;
            margin-right: 0;
            float: inherit;
            text-align: center;
          }
      
          ul {
            float: inherit;
            margin-top: 15px;
            li {
              display: block;
              margin-right: 0;
              text-align: center;
            }
          }
      
        }
      }
    }
  }
  
  @include mq($until: medium) {
    //border: 1px solid #0ff;
  
    .header-bar {
      height: 60px;
    
      .logo {
        left: 20px; top: 20px;
        width: 102px;
      }
      
      .membership {
        right: 70px; top: 15px;
        li {margin-left: 20px;}
      }
    }
    
    .gnb-wrap {top: 60px;}
  }
  
  @include mq($until: small) {
    //border: 1px solid #0f0;
    
    .logo {display: none;}
    
    .gnb-wrap {
      padding: 15px;
    
      .gnb-list-box {
        //border: 1px solid #00f;
        > li {
          padding: 20px 0;
          h2 {font-size: 25px;}
        
          ul {
            margin-top: 15px;
            li {
              a {font-size: 14px;}
            }
          }
        
        }
      }
    }
  }
  
  @include mq($until: x-small) {
    //border: 1px solid #959;
    
  }
  
  
  @media (max-height: 420px) and (orientation: landscape) {
    //border: 1px solid #959;
  
    .header-bar {
      height: 60px;
    
      .logo {
        left: 20px; top: 20px;
        width: 102px;
      }
    
      .membership {
        right: 70px; top: 15px;
        li {margin-left: 20px;}
      }
    }
  
    .gnb-wrap {
      top: 60px;
    }
  }
  
}
