// -----------------------------------------------------------------------------
// wrapper
// -----------------------------------------------------------------------------

.l-wrap {
  position: relative;
  max-width: $w-wrap;
  padding: 0 $offset-sm;

  @include mq(large) {
    margin: 0 auto;
  }
}

.l-m-full {
  @include mq($until: medium) {
    padding-left: 0;
    padding-right: 0;
  }
}

.l-content {
  position: relative;
  max-width: 780px;

  @include mq(medium) {
    margin: 0 $offset-md;
  }

  @include mq(large) {
    margin: 0 auto;
    padding: 0 $offset-lg;
  }
}