// -----------------------------------------------------------------------------
// Paragraph
// -----------------------------------------------------------------------------

$order-list-counter: order-list-counter;

%dot {
  content: '';
  position: absolute;
  top: .75em;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: $dark;
}

%counter {
  content: counter($order-list-counter)'.';
  counter-increment: $order-list-counter;
  position: absolute;
  top: 0;
  left: 0;
}

article, .article {
  //font-size: 1.0rem;
  @include break-word;

  p {
    //margin-top: 2.8rem;

    // & + .h {
    //   margin-top: 6.5rem;
    // }
  }
}

.ul,
.ol {
  font-size: 1em;

  > li {
    position: relative;
    padding-left: 1em;
  }
  & + & {
    margin-top: 1rem;
  }
}

.ul {
  > li {
    &:before {
      @extend %dot;
    }
    & + li {
      margin-top: .2em;
    }
  }
  &--sm {
    > li {
      padding-left: .8em;
      &:before {
        width: 3px;
        height: 3px;
        background-color: $gray3;
      }
    }
  }
  &--dash {
    > li {
      padding-left: .8em;

      &:before {
        content: '-';
        top: 0;
        width: auto;
        height: auto;
        background-color: transparent;
      }
    }
  }
}
.ol {
  counter-reset: $order-list-counter;

  > li {
    &:before {
      @extend %counter;
    }
  }
}

.caption {
  &-p {
    color: $gray5;
    font-size: 1.3rem;
  }
}
