// -----------------------------------------------------------------------------
// Table
// -----------------------------------------------------------------------------

@mixin table-style {
  table-layout: fixed;
  border-spacing: 0;
  // border-top: 1px solid $list-border-color;
  border-bottom: 1px solid $list-border-color;

  th,
  td {
    padding: $list-padding-tb $list-padding-lr;
    border-top: 1px solid $list-border-color;
    border-left: 1px solid $list-border-color;
    text-align: center;
    @include break-word;

    &:first-child {
      border-left: 0;
    }
  }
  th {
    // border-bottom: 1px solid $list-border-color;
    background-color: $list-bg-color;
    font-weight: normal;
  }
  thead {
    th {
      // border-top-color: darken( $list-border-color, 10% );
    }
  }
}
.table-wrap {
  overflow-x: auto;
}
.table {
  & {
    @include table-style;
  }
  &-list {
    @include table-style;

    th {
      border-bottom: 0;

      &:first-child + th,
      &:first-child + td {
        border-left-color: $list-border-color;
      }
    }
    td {
      text-align: left;

      .btn {
        margin-left: 1em;
      }
      input + .checkbox {
        margin-left: 1em;
      }
    }
  }
  &-board {
    @include table-style;

    th, td {
      border-left: 0;
    }
    a {
      word-break: break-all;
    }
  }
  &--value {
    td {
      text-align: right;

      &:first-child {
        text-align: center;
      }
      span {
        display: none;
      }
    }
  }
  @include mq(medium) {
    &-board {
      .h {
        text-align: left;
      }
    }
  }
  @include mq($until: medium) {
    &--complex {
      min-width: 720px;
    }
    &-list {
      border-top: 1px solid darken($list-border-color, 10%);
      table-layout: auto;

      tr, th, td {
        display: block;
        border: 0;
        text-align: left;
      }
      tr {
        border-top: 1px solid $list-border-color;
        &:first-child {
          border-top: 0;
        }
      }
      th {
        width: auto;
        padding-left: 12px;
        font-size: 14px;
      }
      td {
        padding-left: 12px;
      }
      br {
        display: none;
      }
    }
    &-board {
      &, tbody, tr, td {
        display: block;
        width: auto;
      }
      colgroup, thead, .no {
        display: none;
      }
      tr {
        & + tr {
          border-top: 1px solid $list-border-color;
        }
      }
      td {
        text-align: left;
        border: 0;
      }
    }
    &--value {
      thead {
        display: none;
      }
      tr {
        display: block;
        position: relative;
        padding-left: percentage(1/3);
      }
      th,td {
        display: block;
        @include box-sizing;

        &:first-child {
          position: absolute;
          left: 0;
          top: 0;
          width: percentage(1/3);
        }
      }
      td {
        text-align: left;

        span {
          display: inline-block;
          margin-right: 2rem;
        }
      }
    }
  }
}
