// -----------------------------------------------------------------------------
// Part. 공통스타일
// -----------------------------------------------------------------------------

.text-align-right {text-align: right;}
.text-align-center {text-align: center;}
.text-align-left {text-align: left;}

.container {
	position: relative;
	width: 100%; max-width: 1400px;
	margin: 0 auto;
	@include box-sizing();
}

.subtop-visual {
	//border: 1px solid #f00;
	position: relative;
	width: 100%; max-width: 1920px;
	height: 364px;
	margin: 100px auto 0;
	background: no-repeat center bottom;
	
	&.product {
		background-image: url(../image/product/subtop-visual-product.jpg);
	}
	
	&.guide {
		background-image: url(../image/guide/subtop-visual-guide.jpg);
	}
	
	&.customer {
		background-image: url(../image/customer/subtop-visual-customer.jpg);
	}
	
	&.mypage {
		background-image: url(../image/mypage/subtop-visual-mypage.jpg);
	}
	
	& + section > .container {
		padding-top: 0;
	}
	
	h1 {
		font-size: 50px;
		font-weight: 700;
		color: #fff;
		text-align: center;
		position: absolute;
		left: 50%; top: calc(50% - 35px);
		@include translate(-50%, -50%);
	}
	
	.tab-menu-list-wrap {
		width: 100%; max-width: 1400px;
		position: absolute;
		left: 50%; bottom: 0;
		@include translate(-50%, 0);
		
		ul{
			display: flex;
			flex-wrap: wrap;
			max-width: 1400px;
			height: 70px;
			
			li {
				flex: 1 1 180px;
				a {
					display: block;
					width: 100%; height: 70px;
					text-align: center;
					line-height: 70px;
					color: #fff;
					background: rgba(255,255,255,0.2);
					&:hover, &:focus, &:active, &.on {
						background: #fff;
						color: #111;
					}
				}
			}
		}
	}
}

.title-wrap {
	//border: 1px solid #f00;
	margin: 130px 0 80px;
	text-align: center;
	
	.title-h1 {
		font-size: 60px;
		font-weight: 700;
		line-height: 1.0;
		color: #111;
		& + p {
			font-size: 20px;
			margin-top: 30px;
		}
	}
}

.section-title {
	//border: 1px solid #f00;
	font-size: 32px;
	font-weight: 700;
	color: #111;
	margin-bottom: 10px;
}

//iframe 비디오 콘텐츠
.iframe-bind {
  //border: 1px solid #f00;
  position: relative;
  width: 100%; height: auto;
  padding-top: 56.25%;
  background: #fff;
  iframe {
	position: absolute;
	left: 0; top: 0;
  }
}

/***** 공통 모바일 대응 *****/

@include mq($until: xx-large) {
	.main {
		//border: 1px solid #f00;
		
		.section {
			.container {
				padding: 0 40px;
			}
		}
		
	}
}

@include mq($until: x-large) {
	.main {
		//border: 1px solid #f0f;
		
		.title-wrap {
			//border: 1px solid #f00;
			margin: 90px 40px 60px;
			
			.title-h1 {
				font-size: 48px;
				& + p {
					font-size: 18px;
					margin-top: 20px;
				}
			}
		}
		
	}
}

@include mq($until: large) {
	.main {
		//border: 1px solid #00f;
		
		.subtop-visual {
			height: 226px;
			h1 {
				top: 50%;
			}
			.tab-menu-list-wrap {
				display: none;
			}
		}
		
	}
}

@include mq($until: medium) {
	.main {
		//border: 1px solid #f0f;
		
	}
}

@include mq($until: small) {
	.main {
		//border: 1px solid #0f0;
		
		.section {
			.container {
				padding: 0 15px;
			}
		}
		
		.subtop-visual {
			//border: 1px solid #f00;
			height: 110px;
			margin-top: 60px;
			background: no-repeat center top / cover;
			
			&.product {
				background-image: url(../image/product/m-subtop-visual-product.jpg);
			}
			
			&.guide {
				background-image: url(../image/guide/m-subtop-visual-guide.jpg);
			}
			
			&.customer {
				background-image: url(../image/customer/m-subtop-visual-customer.jpg);
			}
			
			&.mypage {
				background-image: url(../image/mypage/m-subtop-visual-mypage.jpg);
			}
			
			h1 {
				font-size: 25px;
			}
		}
		
		.title-wrap {
			//border: 1px solid #f00;
			margin: 50px 0 60px;
			padding: 0 15px;
			
			.title-h1 {
				font-size: 25px;
				color: #111;
				& + p {
					font-size: 14px;
					margin-top: 10px;
					span {
						display: block;
					}
				}
			}
		}
	}
}

@include mq($until: x-small) {
	.main {
		//border: 1px solid #959;
		
	}
}

@media (max-height: 420px) and (orientation: landscape) {
	.main {
		//border: 1px solid #959;
		
		.subtop-visual {
			margin-top: 60px;
			
		}
		
	}
}