// -----------------------------------------------------------------------------
// Part. 공통스타일
// -----------------------------------------------------------------------------

.text-align-right {text-align: right;}
.text-align-center {text-align: center;}
.text-align-left {text-align: left;}

.container {
	position: relative;
	width: 100%; max-width: 1400px;
	margin: 0 auto;
}

.subtop-visual {
	//border: 1px solid #f00;
	position: relative;
	width: 100%; height: 364px;
	padding-top: 100px;
	background: no-repeat center bottom;
	
	&.product {
		background-image: url(../image/product/subtop-visual-product.jpg);
	}
	
	&.guide {
		background-image: url(../image/guide/subtop-visual-guide.jpg);
	}
	
	&.customer {
		background-image: url(../image/customer/subtop-visual-customer.jpg);
	}
	
	&.mypage {
		background-image: url(../image/mypage/subtop-visual-mypage.jpg);
	}
	
	& + section > .container {
		padding-top: 0;
	}
	
	h1 {
		font-size: 50px;
		font-weight: 700;
		color: #fff;
		text-align: center;
		position: absolute;
		left: 50%; top: 55%;
		@include translate(-50%, -50%);
	}
	
	.tab-menu-list-wrap {
		width: 100%; max-width: 1400px;
		position: absolute;
		left: 50%; bottom: 0;
		@include translate(-50%, 0);
		
		ul{
			display: flex;
			flex-wrap: wrap;
			max-width: 1400px;
			height: 70px;
			
			li {
				flex: 1 1 200px;
				a {
					display: block;
					width: 100%; height: 70px;
					text-align: center;
					line-height: 70px;
					color: #fff;
					background: rgba(255,255,255,0.2);
					&:hover, &:focus, &:active, &.on {
						background: #fff;
						color: #111;
					}
				}
			}
		}
	}
}

.title-wrap {
	//border: 1px solid #f00;
	margin: 130px 0 80px;
	text-align: center;
	
	.title-h1 {
		font-size: 60px;
		font-weight: 700;
		line-height: 1.0;
		color: #111;
		& + p {
			font-size: 20px;
			margin-top: 30px;
		}
	}
}

.section-title {
	//border: 1px solid #f00;
	font-size: 32px;
	font-weight: 700;
	color: #111;
	margin-bottom: 10px;
}

/***** footer *****/
.footer {
	//border: 1px solid #ff0;
	background: $black;
	padding: 60px 0;
	
	.footer-wrap {
		//border: 1px solid #ff0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
		position: relative;
		max-width: 1400px;
		margin: 0 auto;
		font-size: 14px;
		
		.box-left, .box-right {
			//border: 1px solid #f00;
			position: relative;
			flex: 1 1 300px;
			
		}
		.box-right {
			text-align: right;
		}
		
		.terms-list {
			overflow: hidden;
			margin: 10px 0 25px;
			li {
				position: relative;
				display: inline-block;
				float: left;
				margin: 0 20px;
				&:before {
					content: '';
					display: inline-block;
					width: 3px; height: 3px;
					background: #3F3F3F;
					@include border-radius(50%);
					
					position: absolute;
					left: -20px; top: 50%;
					@include translate(0, -50%);
				}
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					i {
						font-size: 20px;
						color: #444;
						position: relative;
						top: 3px;
					}
				}
				a {
					display: inline-block;
					color: #999;
					strong {
						color: $color-primary;
					}
					&:hover, &:focus, &:active {
						color: $color-primary;
					}
				}
			}
		}
		
		.contact-list {
			overflow: hidden;
			font-family: $en;
			dt {
				float: left;
				color: #555;
				margin-right: 7px;
			}
			dd {
				float: left;
				margin-right: 40px;
				a {
					display: inline-block;
					color: #777;
					&:hover, &:focus, &:active {
						color: $color-primary;
					}
				}
			}
		}
		
		.family-site-box {
			//border: 1px solid #ff0;
			margin-bottom: 16px;
			
			.btn-family-site {
				position: relative;
				display: inline-block;
				width: 220px;
				padding: 9px 20px;
				background: #2F3040;
				color: #999;
				font-size: 16px;
				text-align: left;
				@include box-sizing();
				@include border-radius(25px);
				i {
					color: $color-primary;
					font-size: 24px;
					font-weight: bold;
					position: absolute;
					right: 20px; top: 50%;
					@include translate(0, -50%);
				}
			}
			
			.list-box {
				display: none;
				text-align: left;
				width: 220px;
				padding: 20px 30px 35px;
				background: $color-primary;
				color: #fff;
				@include box-sizing();
				@include border-radius(20px 20px 0 0);
				
				position: absolute;
				right: 0; bottom: 65px;
				z-index: 0;
				ul {
					li {
						a {
							display: block;
							padding: 3px 0;
							color: #fff;
							opacity: 0.6;
							&:hover, &:focus, &:active {
								opacity: 1.0;
							}
						}
					}
				}
			}
		}
		
		p.copyright {
			//border: 1px solid #f00;
			font-family: $en;
			font-size: 14px;
			color: #444;
		}
	}
	

}

//iframe 비디오 콘텐츠
.iframe-bind {
  //border: 1px solid #f00;
  position: relative;
  width: 100%; height: auto;
  padding-top: 56.25%;
  background: #fff;
  iframe {
	position: absolute;
	left: 0; top: 0;
  }
}

/***** 공통 모바일 대응 *****/

@include mq($until: xx-large) {
	.main {
		//border: 1px solid #f00;
		
	}
}

@include mq($until: x-large) {
	.main {
		//border: 1px solid #ff0;
		
	}
}

@include mq($until: large) {
	.main {
		//border: 1px solid #00f;
		
		.footer {
			//border: 1px solid #ff0;
			padding: 25px 0;
			
			.footer-wrap {
				//border: 1px solid #ff0;
				display: block;
				font-size: 14px;
				text-align: center;
				
				.box-left, .box-right {
					text-align: center;
				}
				
				.terms-list {
					margin: 0 0 15px;
					li {
						display: inline-block;
						float: inherit;
						margin: 0 10px;
						text-align: center;
					}
				}
				
				.contact-list {
					display: inline-block;
					font-size: 10px;
					margin-bottom: 10px;
					
					dt {
						margint: 0 4px;
					}
					dd {
						margin: auto 10px;
					}
				}
				
				.family-site-box {
					//border: 1px solid #ff0;
					margin-bottom: 20px;
					
					.btn-family-site {
						width: 220px;
						font-size: 12px;
					}
					
					.list-box {
						display: none;
						text-align: left;
						width: 220px;
						padding: 16px 20px 35px;
						font-size: 12px;
						right: 50%; bottom: 60px;
						@include translate(50%, 0);
					}
				}
				
				p.copyright {
					//border: 1px solid #f00;
					font-size: 12px;
				}
			}
			
			
		}
	}
}

@include mq($until: medium) {
	.main {
		//border: 1px solid #f0f;
		
	}
}

@include mq($until: small) {
	.main {
		//border: 1px solid #0f0;
		
		.footer {
			//border: 1px solid #ff0;
			padding: 25px 0;
			
			.footer-wrap {
				//border: 1px solid #ff0;
				display: block;
				font-size: 12px;
				text-align: center;
				
				
				.terms-list {
					margin: 0 0 15px;
				}
				
				.contact-list {
					display: inline-block;
					font-size: 10px;
					margin-bottom: 10px;
				}
				
				.family-site-box {
					//border: 1px solid #ff0;
					margin-bottom: 20px;
					
					.btn-family-site {
						width: 220px;
						font-size: 12px;
					}
					
					.list-box {
						display: none;
						text-align: left;
						width: 220px;
						padding: 16px 20px 35px;
						font-size: 12px;
						right: 50%; bottom: 60px;
						@include translate(50%, 0);
					}
				}
				
				p.copyright {
					//border: 1px solid #f00;
					font-size: 12px;
				}
			}
			
			
		}
		
	}
}

@include mq($until: x-small) {
	.main {
		//border: 1px solid #959;
		
	}
}

