// -----------------------------------------------------------------------------
// Part. 공통스타일
// -----------------------------------------------------------------------------

.text-align-right {text-align: right;}
.text-align-center {text-align: center;}
.text-align-left {text-align: left;}

.container {
	position: relative;
	width: 100%; max-width: 1400px;
	margin: 0 auto;
}

.title-wrap {
	//border: 1px solid #f00;
	margin: 130px 0 80px;
	text-align: center;
	
	.title-h1 {
		font-size: 60px;
		font-weight: 700;
		line-height: 1.0;
		color: #111;
		& + p {
			font-size: 20px;
			margin-top: 30px;
		}
	}
}

.section-title {
	font-size: 32px;
	font-weight: 700;
	color: #111;
	margin-bottom: 10px;
}

/***** footer *****/
.footer {
	//border: 1px solid #ff0;
	background: $black;
	padding: 60px 0;
	
	.footer-wrap {
		//border: 1px solid #ff0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
		position: relative;
		max-width: 1400px;
		margin: 0 auto;
		font-size: 14px;
		
		.box-left, .box-right {
			//border: 1px solid #f00;
			position: relative;
			flex: 1 1 300px;
			
		}
		.box-right {
			text-align: right;
		}
		
		.terms-list {
			overflow: hidden;
			margin: 10px 0 25px;
			li {
				position: relative;
				display: inline-block;
				float: left;
				margin: 0 20px;
				&:before {
					content: '';
					display: inline-block;
					width: 3px; height: 3px;
					background: #3F3F3F;
					@include border-radius(50%);
					
					position: absolute;
					left: -20px; top: 50%;
					@include translate(0, -50%);
				}
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					i {
						font-size: 20px;
						color: #444;
						position: relative;
						top: 3px;
					}
				}
				a {
					display: inline-block;
					color: #999;
					strong {
						color: $color-primary;
					}
					&:hover, &:focus, &:active {
						color: $color-primary;
					}
				}
			}
		}
		
		.contact-list {
			overflow: hidden;
			font-family: $en;
			dt {
				float: left;
				color: #555;
				margin-right: 7px;
			}
			dd {
				float: left;
				margin-right: 40px;
				a {
					display: inline-block;
					color: #777;
					&:hover, &:focus, &:active {
						color: $color-primary;
					}
				}
			}
		}
		
		.family-site-box {
			//border: 1px solid #ff0;
			margin-bottom: 16px;
			
			.btn-family-site {
				position: relative;
				display: inline-block;
				width: 220px;
				padding: 9px 20px;
				background: #2F3040;
				color: #999;
				font-size: 16px;
				text-align: left;
				@include box-sizing();
				@include border-radius(25px);
				i {
					color: $color-primary;
					font-size: 24px;
					font-weight: bold;
					position: absolute;
					right: 20px; top: 50%;
					@include translate(0, -50%);
				}
			}
			
			.list-box {
				display: block;
				text-align: left;
				width: 220px;
				padding: 20px 30px 35px;
				background: $color-primary;
				color: #fff;
				@include box-sizing();
				@include border-radius(20px 20px 0 0);
				
				position: absolute;
				right: 0; bottom: 65px;
				z-index: 0;
				ul {
					li {
						a {
							display: block;
							padding: 3px 0;
							color: #fff;
							opacity: 0.6;
							&:hover, &:focus, &:active {
								opacity: 1.0;
							}
						}
					}
				}
			}
		}
		
		p.copyright {
			//border: 1px solid #f00;
			font-family: $en;
			font-size: 14px;
			color: #444;
		}
	}
	

}

//iframe 비디오 콘텐츠
.iframe-bind {
  //border: 1px solid #f00;
  position: relative;
  width: 100%; height: auto;
  padding-top: 56.25%;
  background: #fff;
  iframe {
	position: absolute;
	left: 0; top: 0;
  }
}

/***** 공통 Form *****/
.sub-h3 {
	&.form-title {
		text-align: center;
	}
	& + .notice {
		text-align: right;
		font-size: 0.85em;
		padding: 0 10px 0 0;
		margin-bottom: -10px !important;
		margin-top: 30px;
		strong {
			font-size: 1.0rem;
			color: #f50;
		}
	}
}

/* Teamvoice radio button common */
.tv-radio[type="radio"] {
	/* radio button hidden  */
	&:not(:checked),
	&:checked {
		position: absolute; left: -9999px;
	}
	
	/* radio button basic */
	& + label{
		position: relative;
		cursor: pointer;
		display: block;
		padding: 0 0 0 30px;
		letter-spacing: 0;
		
		&:before{
			content: '';
			display: inline-block;
			width: 20px; height: 20px;
			border: 1px solid #d9d9d9;;;
			background: #fff;
			@include border-radius(50%);
			@include box-sizing;
			position: absolute;
			left: 0; top: 5px;
		}
		&:after{
			content: '';
			display: inline-block;
			width: 10px; height: 10px;
			background: #bbb;
			@include border-radius(50%);
			@include box-sizing;
			position: absolute;
			left: 5px; top: 10px;
		}
	}
	/* radio button on */
	&:checked + label{
		//color: #20beef;
		&:before{border-color: $color-primary;}
		&:after{background: $color-primary;}
	}
	
	&:checked + label input {
		border-bottom: 1px solid $color-sub-light !important;
	}
}

/* Teamvoice checkbox common */
.tv-chk[type="checkbox"] {
	/* checkbox hidden  */
	&:not(:checked),
	&:checked {
		position: absolute; left: -9999px;
	}
	
	/* checkbox basic */
	& + label {
		position: relative;
		cursor: pointer;
		//overflow: hidden;
		display: block;
		padding: 0 0 0 35px;
		
		&:before {
			content: " ";
			font-family: $icon;
			font-size: 24px;
			line-height: 24px;
			display: inline-block;
			width: 24px; height: 24px;
			color: #bbb;
			background: #fff;
			border: 1px solid #bbb;
			
			@include border-radius(4px);
			@include box-sizing;
			
			position: absolute;
			left: 0; top: 5px;
		}
	}
	/* checkbox on */
	&:checked + label {
		&:before {
			content: "\e929";
			color: $white;
			border-color: $color-primary;
			background: $color-primary;
		}
	}
	&:checked + label input {
		border-bottom: 1px solid $color-primary !important;
	}
}


/***** 공통 모바일 대응 *****/

@include mq($until: x-large) {
	.main {
		//border: 1px solid #f00;
		
	}
}

@include mq($until: large) {
	.main {
		//border: 1px solid #00f;

	}
}

@media (max-height: 420px) and (orientation: landscape) {
	.main {
		//border: 1px solid #6d3908;
		
	}
}

@include mq($until: medium) {
	.main {
		//border: 1px solid #0ff;
		
	}
}

@include mq($until: small) {
	.main {
		//border: 1px solid #0f0;
		
	}
	
}

@include mq($until: x-small) {
	.main {
		//border: 1px solid #959;
		
	}
}

