// -----------------------------------------------------------------------------
// index page style
// -----------------------------------------------------------------------------

.main-article {
  
  .section {
    //border: 1px solid #f00;
    position: relative;
    width: 100%; height: auto !important;
    overflow: auto;
    
    .fp-tableCell {
      vertical-align: top;
    }
    
    .container {
      //border: 1px solid #f00;
      padding-top: 100px;
      padding-bottom: 60px;
      @include box-sizing();
    }
    
    h1 {
      //border: 1px solid #f00;
      font-size: 50px;
      font-weight: 700;
      line-height: 1.0em;
      margin: 40px 0 40px;
      color: #111;
  
      .category {
        display: block;
        font-family: $en;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 5px;
      }
      & + p {
        font-size: 20px;
        margin-bottom: 60px;
        color: #555;
        span {
          display: block;
        }
      }
    }
    
    h2 {
      font-size: 28px;
      font-weight: 500;
      & + p {
        span {
          display: block;
        }
      }
    }
  }
  
  #section1 {
    background: url(../image/main/bg-main-intro.jpg) no-repeat center -100px / cover #F9FAFC;
    
    .fp-tableCell {
      vertical-align: middle;
    }
    
    .container {
      padding-top: 0;
      padding-bottom: 0;
    }

    h1 {
      font-size: 86px;
      font-weight: 700;
      line-height: 1.2em;
      color: $color-primary;
      margin: 0 0 40px;
      
      .outline {
        color: transparent;
        -webkit-text-stroke: 2px $color-primary;
        text-stroke: 2px $color-primary;
      }
      & + p {
        font-size: 24px;
        margin-bottom: 0;
      }
    }
    
    .main-notice-wrap {
      position: absolute;
      left: 0; bottom: 0;
      width: 100%; height: 100px;
      background: #fff;
      @include box-s(0, -4px, 8px, rgba(0,0,0,0.05));
      
      .main-notice {
        //border: 1px solid #f00;
        position: relative;
        width: 100%; max-width: 1400px;
        height: 100%;
        margin: 0 auto;
        padding-top: 0;
        @include box-sizing();
      }
      
      h2 {
        font-family: $en;
        font-weight: 700;
        font-size: 32px;
        color: #111;
        position: absolute;
        left: 0; top: 50%;
        @include translate(0, -50%);
      }
      
      .notice-rolling-box {
        overflow: hidden;
        width: 60%; height: 32px;
        position: absolute;
        left: 150px; top: calc(50% + 3px);
        @include translate(0, -50%);
  
        .notice-list {
          position: relative;
          width: 100%; height: auto;
          li {
            width: 100%; height: 32px;
            line-height: 32px;
            .date {
              font-family: $en;
              font-weight: 400;
              color: #888;
              width: 130px;
              
              &:after {
                content: '';
                display: inline-block;
                width: 1px; height: 16px;
                background: #E1E2E6;
                margin: 0 20px;
                position: relative;
                top: 2px;
              }
            }
  
            a {
              display: block;
              font-size: 18px;
              color: #111;
              @include ellipsis(1);
    
              &:hover, &:focus, &:active {
                color: $color-primary;
              }
            }
          }
        }
      }
      
      .btn-more {
        display: block;
        width: 58px; height: 58px;
        background: #F4F5F9;
        @include border-radius(50%);
        
        text-align: center;
        font-size: 24px;
        line-height: 60px;
        
        position: absolute;
        right: 0; top: 50%;
        @include translate(0, -50%);
        
        &:hover, &:focus, &:active {
          background: $color-primary;
          color: #fff;
        }
      }
    }
  }
  
  #section2 {
    background: url(../image/main/bg-main-product.jpg) no-repeat center top / cover #F9FAFC;
    
    h1, h2 {
      color: #fff;
      & + p {
        color: #fff;
        opacity: 0.8;
      }
    }
    
    ul {
      color: #fff;
      li {
        //border: 1px solid #f00;
        margin-bottom: 40px;
        padding: 6px 0 6px 116px;
        background: no-repeat left center / 90px;
        
        &:nth-child(1) {
          background-image: url(../image/main/product-1@2x.png);
        }
        &:nth-child(2) {
          background-image: url(../image/main/product-2@2x.png);
        }
        &:nth-child(3) {
          background-image: url(../image/main/product-3@2x.png);
        }
        
        p {
          opacity: 0.6;
        }
      }
    }
  }
  
  #section3 {
    background: url(../image/main/bg-main-service1.jpg) no-repeat center top / cover #F9FAFC;
  
    ul {
      display: flex;
      flex-wrap: wrap;
      
      li {
        //border: 1px solid #f00;
        position: relative;
        flex: 1 1 270px;
        max-width: 25%;
        padding: 10px 10px 0;
        @include box-sizing();
        text-align: center;
        
        h2 {
          position: relative;
          width: 250px; height: 250px;
          @include border-radius(50%);
          @include box-sizing();
          margin: 0 auto 30px;
          color: #fff;
          span {
            display: inline-block;
            margin-top: 135px;
          }
          
          &:before {
            content:'';
            display: block;
            width: 270px; height: 270px;
            border-width: 10px;
            border-style: solid;
            @include border-radius(50%);
            @include box-sizing();
            
            position: absolute;
            left: 50%; top: 50%;
            @include translate(-50%, -50%);
          }

          & + p {
            font-size: 20px;
          }
        }
        
        &:after {
          content: "\e93f";
          display: block;
          width: 58px; height: 58px;
          //border: 1px solid #f00;
          font-family: $icon;
          font-size: 58px;
          line-height: 58px;
          color: #E1E2E6;
          position: absolute;
          right: -8%; top: 100px;
        }
        
        &:nth-child(1) {
          h2 {
            background: url(../image/main/service1-1@2x.png) no-repeat center 33% #4DA4F2;
            &:before {
              border-color: rgba(77,164,242,0.2);
            }
          }
        }
        
        &:nth-child(2) {
          h2 {
            background: url(../image/main/service1-2@2x.png) no-repeat center 33% #517CCF;
            &:before {
              border-color: rgba(81,124,207,0.2);
            }
          }
        }
        
        &:nth-child(3) {
          h2 {
            background: url(../image/main/service1-3@2x.png) no-repeat center 33% #5558AF;
            &:before {
              border-color: rgba(85,88,175,0.2);
            }
          }
        }
        
        &:nth-child(4) {
          h2 {
            background: url(../image/main/service1-4@2x.png) no-repeat center 33% #724EAB;
            &:before {
              border-color: rgba(114,78,171,0.2);
            }
          }
          &:after {
            display: none;
          }
        }
        
      }
    }
  }
  
  #section4 {
    background: url(../image/main/bg-main-service2.jpg) no-repeat center top / cover #F9FAFC;
  
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
      li {
        //border: 1px solid #f00;
        position: relative;
        flex: 1 1 500px;
        min-height: 115px;
        padding-left: 114px;
        margin: 0 20px 115px;
        @include box-sizing();
      
        h2 {
          color: #111;
          span {
            font-family: $en;
          }
        }
        
        &:nth-child(1) {
          background: url(../image/main/service2-1@2x.png) no-repeat left top / 90px;
        }
      
        &:nth-child(2) {
          background: url(../image/main/service2-2@2x.png) no-repeat left top / 90px;
        }
      
        &:nth-child(3) {
          background: url(../image/main/service2-3@2x.png) no-repeat left top / 90px;
        }
      
        &:nth-child(4) {
          background: url(../image/main/service2-4@2x.png) no-repeat left top / 90px;
        }
      
      }
    }
  }
  
  #section5 {
    background: url(../image/main/bg-main-about-us.jpg) no-repeat center top / cover #283767;
    
    h1 {
      color: #fff;
      & + p {
        color: #fff;
        opacity: 0.8;
      }
    }
  
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
      justify-content: center;
      li {
        position: relative;
        flex: 1 1 280px;
        max-width: 320px;
        margin: 0 20px;
        padding: 260px 20px 50px;
        text-align: center;
        @include box-sizing();
        @include border-radius(20px);
      
        h2 {
          color: #111;
          & + p {
            opacity: 0.6;
          }
        }
  
        background: no-repeat center 50px / 190px #fff;
  
        &:nth-child(1) {
          background-image: url(../image/main/about-us-1@2x.png);
        }
        &:nth-child(2) {
          background-image: url(../image/main/about-us-2@2x.png);
        }
        &:nth-child(3) {
          background-image: url(../image/main/about-us-3@2x.png);
        }
        &:nth-child(4) {
          background-image: url(../image/main/about-us-4@2x.png);
        }
      
      }
    }
  }
  
  #section6 {
    background: url(../image/main/bg-main-faq.jpg) no-repeat center top / cover #EBEDF6;
    
    .container {
      width: 100%; max-width: 100%;
      
      .tlt {
        width: 100%; max-width: 1400px;
        margin: 0 auto;
      }
    }

    .faq-container {
      //border: 1px solid #f00;
      width: 100%; max-width: 1400px;
      margin: 0 auto;
      padding: 0 0 60px;
      overflow: visible;
      @include box-sizing();
    }
    
    .swiper-slide {
      width: 420px; height: 400px;
      margin-right: 40px;
  
      a {
        display: block;
        overflow: hidden;
        
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        
        padding: 40px;
        background: #fff;
        line-height: 2.5em;
  
        @include border-radius(20px);
        @include box-sizing();
        
        strong {
          display: block;
          font-family: $en;
          font-size: 50px;
          font-weight: 600;
          color: $color-primary;
          line-height: 1.0em;
          margin-bottom: 30px;
        }
        h2 {
          color: #111;
          @include ellipsis(3);
        }
     
        i {
          font-size: 48px;
          color: #E1E2E6;
          position: absolute;
          right: 40px; bottom: 40px;
        }
        
        &:hover, &:focus, &:active {
          background: $color-primary;
          strong, h2 {
            color: $white;
          }
          @include box-s(0, 20px, 30px, rgba(85,88,175, 0.5))
        }
      }
    }
  }

  #section7 {
    background: url(../image/main/bg-main-cs.jpg) no-repeat left top / cover #1E1F2D;

    .container {
      //border: 1px solid #f00;
      margin-bottom: 207px;
      
      h1 {
        margin-bottom: 60px;
        color: #fff;
      }
    }
    
    .box-wrap {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
      
      li {
        position: relative;
        flex: 1 1 300px;
        margin: 0 20px;
        @include border-radius(20px);
        @include box-sizing();
        
        //display: table;
        //table-layout: fixed;
        
        .box-inner {
          //border: 1px solid #f00;
          //display: table-cell;
          vertical-align: middle;
        }
        
        &:first-child {
          //border: 1px solid #ff0;
          flex-grow: 6;
          background: url(../image/main/cs1.png) no-repeat 50px center #fff;
          padding: 50px 50px 50px 240px;
          color: #111;
  
          h2 {
            a {
              display: block;
              font-family: $en;
              font-size: 50px;
              font-weight: 700;
              color: $color-primary;
              line-height: 1.5em;
            }
          }
          dl {
            overflow: hidden;
            margin-bottom: 10px;
            dt {
              float: left;
              color: #999;
              margin-right: 10px;
            }
            dd {
              color: #555;
              span {font-family: $en;}
            }
            & + a {
              display: block;
              font-family: $en;
              font-weight: 700;
              font-size: 24px;
              color: #111;
              &:hover, &:focus, &:active {
                color: $color-primary;
              }
            }
          }
  
        }
        
        &:last-child {
          //border: 1px solid #f0f;
          flex-grow: 4;
          position: relative;
          background: url(../image/main/cs2.png) no-repeat calc(100% - 50px) center $color-primary;
          padding: 50px;
  
          a {
            display: block;
            color: #fff;
            h2 {
              font-family: $en;
              font-size: 50px;
              font-weight: 700;
              line-height: 1.5em;
              color: #fff;
              & + p {
                opacity: 0.6;
                margin-top: 10px;
                color: #fff;
              }
              i {
                font-size: 48px;
                opacity: 0.3;
              }
            }
            &:hover, &:focus {
              h2 {
                & + p {
                  opacity: 1.0;
                }
              }
            }
          }
          
        }
      }
    }
    
    footer {
      width: 100%;
      position: absolute;
      left: 0; bottom: 0;
    }
  }
}

/***** Main 모바일 대응 *****/

.main-article {
  
  @include mq($until: xx-large) {
    //border: 1px solid #f00;
    
    #section1 {
      .main-notice-wrap {
        h2 {
          left: 40px;
        }
        .notice-rolling-box {
          left: 190px;
        }

        .btn-more {
          right: 40px;
        }
      }
    }
  }
  
  @include mq($until: x-large) {
   //border: 1px solid #00f;
  
    .section {
      .container {
        padding: 60px 40px;
      }
      
      h1 {
        margin: 40px 0 30px;
        & + p {
          margin-bottom: 40px;
        }
      }
    }
    
    #section1 {
      .container {
        margin-bottom: 100px;
      }
    }
    
    #section2 {
      ul li{
        margin-bottom: 20px;
      }
    }
    
    #section3 {
      ul {
        justify-content: center;
        li {
          flex: 1 1 220px;
          margin-bottom: 30px;
      
          h2 {
            width: 160px; height: 160px;
            margin: 0 auto 20px;
            span {
              font-size: 24px;
              margin-top: 85px;
            }
        
            &:before {
              width: 180px; height: 180px;
            }
  
            background-size: 90px !important;
            background-position: center 38px !important;
          }
          
          &:after {
            display: none;
          }
          
        }
      }
    }
    
    #section4 {
      ul {
        margin: 0 -10px;
        li {
          //border: 1px solid #f00;
          flex: 1 1 400px;
          margin: 0 10px 50px;
        }
      }
    }
    
    #section5 {
      ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        justify-content: center;
        li {
          position: relative;
          flex: 1 1 400px;
          max-width: 50%;
          margin: 0 10px 20px;
          padding: 20px 20px 20px 140px;
          text-align: left;
      
          background: no-repeat 20px center / 100px #fff;
          p {
            span {
              display: inline-block;
            }
          }
        }
      }
      
    }
    
    #section6 {
      .faq-container {
        padding: 0 0 60px;
      }
  
      .swiper-slide {
        width: 380px; height: 340px;
        margin-right: 30px;
        a {
          padding: 30px 40px;
        }
      }
    }
    
    #section7 {
      .container {
        margin-bottom: 147px;
      }
  
      .box-wrap {
        margin: 0 -10px;
        li {
          flex: 1 1 300px;
          margin: 0 10px;
          @include border-radius(20px);
          @include box-sizing();
          
          &:first-child {
            //border: 1px solid #ff0;
            flex-grow: 7;
            padding: 25px 30px;
            background-size: 110px;
            background-position: calc(100% - 30px) center;
          }
      
          &:last-child {
            //border: 1px solid #f0f;
            flex-grow: 3;
            background-position: calc(100% - 30px);
            padding: 25px 30px;
          }
        }
      }
      
    }
  }
  
  @include mq($until: large) {
    //border: 1px solid #0f0;
    
    .section {
      h1 {
        margin: 40px 0 30px;
        & + p {
          margin-bottom: 40px;
        }
      }
    }
    
    #section1 {
      background: url(../image/main/m-bg-main-intro.jpg) no-repeat center center / cover #F9FAFC;
      
      .fp-tableCell {
        vertical-align: top;
      }
      
      .container {
        //border: 1px solid #f00;
        padding-top: 60px;
        h1 {
          margin-top: 60px;
        }
      }
    }
    
    #section2 {
      background: url(../image/main/m-bg-main-product.jpg) no-repeat center bottom / cover #5558AF;
      
    }
    
    #section3 {
      background: url(../image/main/m-bg-main-service1.jpg) no-repeat center center / cover #F9FAFC;
      
      ul {
        li {
          //border: 1px solid #f00;
          flex: 1 1 250px;
          max-width: 50%;
        }
      }
    }
    
    #section4 {
      background: url(../image/main/m-bg-main-service2.jpg) no-repeat center center / cover #F9FAFC;
      
      ul {
        li {
          //border: 1px solid #f0f;
          min-height: 100px;
          padding-left: 120px;
          margin-bottom: 30px;
     
        }
      }
    }
    
    #section5 {
      background: url(../image/main/m-bg-main-about-us.jpg) no-repeat center bottom / cover #283767;
  
      ul {
        margin: 0;
        li {
          position: relative;
          flex: 1 1 600px;
          width: 100%; max-width: 100%;
          margin: 0 0 20px;
        }
      }
    }
    
    #section6 {
      background: url(../image/main/m-bg-main-faq.jpg) no-repeat center center / cover #F9FAFC;
      
    }
    
    #section7 {
      background: url(../image/main/m-bg-main-cs.jpg) no-repeat center bottom / cover #1E1F2D;
  
      .container {
        margin-bottom: 267px;
      }
  
      .box-wrap {
        margin: 0;
        li {
          flex: 1 1 500px;
          max-width: 100%;
          margin: 0;
          @include border-radius(10px);
          
          &:first-child {
            //border: 1px solid #ff0;
            margin-bottom: 20px;
            padding: 20px 50px 20px 220px;
            background-size: 120px;
            background-position: 50px center;
        
            h2 {
              a {
                font-size: 42px;
              }
            }
            dl {
              margin-bottom: 0;
              dt {
                margin-right: 5px;
              }
              & + a {
                font-size: 20px;
              }
            }
        
          }
      
          &:last-child {
            //border: 1px solid #f0f;
            background-position: calc(100% - 50px) center;
            padding: 30px 50px;
        
            a {
              h2 {
                font-size: 42px;
                & + p {
                  margin-top:5px;
                  span {
                    display: inline-block;
                  }
                }
                i {
                  font-size: 38px;
                }
              }
            }
        
          }
        }
      }
      
    }
  }
  
  @include mq($until: medium) {
    //border: 1px solid #f0f;
  
  }
  
  @include mq($until: small) {
    //border: 1px solid #cd630c;
    
    .section {
      h1 {
        font-size: 25px;
        margin: 30px 0 10px;
    
        .category {
          font-size: 12px;
          margin-bottom: 5px;
        }
        & + p {
          font-size: 14px;
          margin-bottom: 30px;
          span {
            display: inline;
          }
        }
      }
  
      h2 {
        font-size: 14px;
        & + p {
          font-size: 12px;
          line-height: 1.6em;
          span {
            display: inline-block;
          }
        }
      }
    }
    
    #section1 {
      .container {
        margin-bottom: 80px;
        padding-top: 60px;
      }
      
      h1 {
        font-size: 43px;
        margin: 40px 0 15px;
    
        .outline {
          -webkit-text-stroke: 1px $color-primary;
          text-stroke: 1px $color-primary;
        }
        & + p {
          font-size: 14px;
        }
      }
      
      .main-notice-wrap {
        height: auto;
        
        .main-notice {
          padding: 15px;
        }
  
        h2 {
          font-size: 18px;
          position: inherit;
          left: 0; top: 0;
          @include translate(0, 0);
        }
        
        .notice-rolling-box {
          width: 100%; max-width: 100%;
          height: 22px;
          position: static;
          left: inherit; top: inherit;
          @include translate(0, 0);
      
          .notice-list {
            li {
              height: 22px;
              line-height: 22px;
              .date {
                display: none;
              }
              a {
                font-size: 14px;
              }
            }
          }
        }
  
        .btn-more {
          width: 29px; height: 29px;
          font-size: 12px;
          line-height: 29px;
    
          position: absolute;
          right: 15px; top: 15px;
          @include translate(0, 0);
        }
      }
    }
    
    #section2 {
      ul {
        li {
          //border: 1px solid #f00;
          margin-bottom: 15px;
          padding: 0 0 6px 65px;
          background: no-repeat left top / 45px;
        }
      }
    }
    
    #section3 {
      ul {
        justify-content: center;
  
        li {
          flex: 1 1 160px;
          max-width: 180px;
          margin-bottom: 25px;
      
          h2 {
            width: 102px; height: 102px;
            margin: 0 auto 15px;
            span {
              font-size: 14px;
              margin-top: 60px;
            }
            & + p {
              font-size: 12px;
            }
        
            &:before {
              width: 115px; height: 115px;
              border-width: 13px;
            }
            
            background-size: 65px !important;
            background-position: center 24px !important;
          }
        }
      }
    }
    
    #section4 {
      ul {
        li {
          //border: 1px solid #f00;
          min-height: auto;
          padding-left: 58px;
          margin-bottom: 25px;
          h2 {
            & + p {
              padding-right: 0;
            }
          }
          background-size: 45px !important;
        }
      }
    }
    
    #section5 {
      ul {
        display: block;
        margin: 0;
        li {
          position: relative;
          min-height: 90px;
          
          margin: 0 0 10px;
          padding: 15px 15px 15px 90px;
          @include border-radius(10px);
          
          background: no-repeat 15px center / 60px #fff;
        }
      }
    }
    
    #section6 {
      .faq-container {
        //border: 1px solid #f00;
        //padding: 0 0 40px;
      }
  
      .swiper-slide {
        width: 210px; height: 210px;
        margin-right: 20px;
        position: relative;
        a {
          padding: 20px;
          line-height: 1.5em;
      
          @include border-radius(10px);
      
          strong {
            font-size: 30px;
            margin-bottom: 10px;
          }
          
          i {
            font-size: 30px;
            right: 20px; bottom: 20px;
          }
      
          &:hover, &:focus, &:active {
            @include box-s(0, 10px, 15px, rgba(85,88,175, 0.5))
          }
        }
      }
    }
    
    #section7 {
      .container {
        margin-bottom: 170px;
        
        h1 {
          //margin-top: 30px;
          margin-bottom: 30px;
        }
      }
  
      .box-wrap {
        margin: 0;
        li {
          flex: 1 1 300px;
          max-width: 100%;
          margin: 0;
      
          &:first-child {
            margin-bottom: 10px;
            padding: 20px 30px;
            background-size: 70px;
            background-position: calc(100% - 25px) center;
        
            h2 {
              a {
                font-size: 25px;
              }
            }
            dl {
              margin-bottom: 0;
              font-size: 12px;
     
              & + a {
                font-size: 14px;
              }
            }
        
          }
      
          &:last-child {
            padding: 20px 30px;
            background-size: 70px;
            background-position: calc(100% - 25px) center;
        
            a {
              h2 {
                font-size: 25px;
                & + p {
                  margin-top: 5px;
                  font-size: 12px;
                  span {
                    display: block;
                  }
                }
                i {
                  font-size: 24px;
                }
              }
            }
        
          }
        }
      }
  
    }
  }
  
  @include mq($until: x-small) {
    //border: 1px solid #33dec5;

  }
  
  @media (max-height: 420px) and (orientation: landscape) {
  
    .section {
      position: relative;
      
      .container {
        height: auto;
        padding-top: 60px;
        padding-bottom: 60px;
        @include box-sizing();
        .content {
          //overflow :hidden;
        }
      }
  
      h1 {
        font-size: 25px;
        margin: 0 0 10px;
        .category {
          font-size: 12px;
          margin-bottom: 5px;
        }
        & + p {
          font-size: 14px;
          margin-bottom: 30px;
          span {
            display: inline;
          }
        }
      }
  
      h2 {
        font-size: 14px;
        & + p {
          font-size: 12px;
          line-height: 1.6em;
          span {
            display: inline-block;
          }
        }
      }
    }
    
    #section1 {
      background: url(../image/main/bg-main-intro.jpg) no-repeat right top / 100%;
      .fp-tableCell {
        vertical-align: middle;
      }
      .container {
        margin-bottom: 68px;
        padding-top: 0;
      }
  
      h1 {
        font-size: 43px;
        margin: 0 0 10px !important;
    
        .outline {
          -webkit-text-stroke: 1px $color-primary;
          text-stroke: 1px $color-primary;
        }
        & + p {
          font-size: 14px;
        }
      }

      .main-notice-wrap {
        width: 100%; height: auto;
    
        .main-notice {
          padding: 15px 15px 10px;
        }
    
        h2 {
          font-size: 18px;
          line-height: 1.0;
          position: inherit;
          left: 0; top: 0;
          @include translate(0, 0);
        }
  
        .notice-rolling-box {
          width: 100%; max-width: 100%;
          height: 22px;
          position: static;
          left: inherit; top: inherit;
          @include translate(0, 0);
    
          .notice-list {
            li {
              height: 22px;
              line-height: 22px;
              .date {
                display: none;
              }
        
              a {
                font-size: 14px;
              }
            }
          }
        }
        
        .btn-more {
          width: 29px; height: 29px;
          font-size: 12px;
          line-height: 29px;
      
          position: absolute;
          right: 15px; top: 15px;
          @include translate(0, 0);
      
        }
      }
  
  
    }
  
    #section2 {
      background: url(../image/main/bg-main-product.jpg) no-repeat calc(100% + 90px) bottom / auto 100% #5558AF;
  
      ul {
        margin-bottom: 60px;
        li {
          //border: 1px solid #f00;
          margin-bottom: 20px;
          padding: 0 0 6px 60px;
          background: no-repeat left top / 45px;
        }
      }
    }
  
    #section3 {
      background: url(../image/main/bg-main-service1.jpg) no-repeat center bottom / 100% #F9FAFC;
      
      ul {
        justify-content: center;
    
        li {
          flex: 1 1 120px;
          max-width: 180px;
          margin-bottom: 0;
      
          h2 {
            width: 102px; height: 102px;
            margin: 0 auto 15px;
            span {
              font-size: 14px;
              margin-top: 60px;
            }
            & + p {
              font-size: 12px;
            }
        
            &:before {
              width: 115px; height: 115px;
              border-width: 13px;
            }
        
            background-size: 65px !important;
            background-position: center 24px !important;
          }
        }
      }
    }
  
    #section4 {
      background: url(../image/main/bg-main-service2.jpg) no-repeat center top / 100% #fff;
      
      ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
        justify-content: space-between;
        li {
          //border: 1px solid #f00;
          position: relative;
          flex: 1 1 250px;
          margin: 0 5px 25px;
          min-height: 50px;
          padding-left: 58px;
          &:last-child {
            //margin-bottom: 0;
          }
          h2 {
            & + p {
              padding-right: 0;
            }
          }
          background-size: 45px !important;
        }
      }
    }
  
    #section5 {
      background: url(../image/main/bg-main-about-us.jpg) no-repeat center bottom / 100% #283767;
  
      ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
        justify-content: space-between;
        li {
          position: relative;
          flex: 1 1 250px;
          //max-width: 400px;
          margin: 0 5px 10px;
          padding: 15px 15px 15px 90px;
          @include border-radius(10px);
      
          background: no-repeat 15px 15px / 60px #fff;
        }
      }
    }
  
    #section6 {
      background: url(../image/main/bg-main-faq.jpg) no-repeat center top / cover #EBEDF6;
  
      .container {
        width: 100%; max-width: 100%;
        height: auto;
      }
      
      .faq-container {
        //padding: 0 0 40px;
      }
  
      .swiper-slide {
        width: 210px; height: 210px;
        margin-right: 20px;
        position: relative;
        a {
          padding: 20px;
          line-height: 1.5em;
      
          @include border-radius(10px);
      
          strong {
            font-size: 30px;
            margin-bottom: 10px;
          }
      
          i {
            font-size: 30px;
            right: 20px; bottom: 20px;
          }
      
          &:hover, &:focus, &:active {
            @include box-s(0, 10px, 15px, rgba(85,88,175, 0.5))
          }
        }
      }
    }
  
    #section7 {
      background: url(../image/main/bg-main-cs.jpg) no-repeat left bottom/ cover #1E1F2D;
      
      .container {
        height: auto;
        margin-bottom: 0;

        h1 {
          //border: 1px solid #f00;
          margin-bottom: 30px;
        }
      }
  
      .box-wrap {
        margin: 0;
        li {
          flex: 1 1 500px;
          max-width: 100%;
          margin: 0;
          @include border-radius(10px);
      
          &:first-child {
            flex-grow: 10;
            background-size: 75px;
            background-position: calc(100% - 30px) center;
            padding: 20px 30px;
            margin-bottom: 20px;
  
            h2 {
              a {
                font-size: 25px;
              }
            }
            dl {
              margin-bottom: 0;
              font-size: 12px;
              dt {
                margin-right: 5px;
              }
              & + a {
                font-size: 12px;
              }
            }
        
          }
      
          &:last-child {
            flex-grow: 10;
            background-size: 75px;
            background-position: calc(100% - 30px) center;
            padding: 30px 30px;
        
            a {
              h2 {
                font-size: 25px;
                & + p {
                  margin-top: 0;
                  font-size: 12px;
                  span {
                    display: inline-block;
                  }
                }
                i {
                  font-size: 24px;
                }
              }
            }
        
          }
        }
      }
      
      footer {
        width: 100%;
        position: static;
        left: inherit; bottom: inherit;
      }
      
    }
    
  }
  
}