// -----------------------------------------------------------------------------
// index page style
// -----------------------------------------------------------------------------

.main-article {
  
  /***** section box *****/
  .section {
    //border: 1px solid #f00;
    position: relative;
    width: 100%; //height: 100vh;
    overflow: auto;
    
    .container {
      //border: 1px solid #f00;
      height: 100vh;
      padding-top: 100px;
      @include box-sizing();
    }
    
    h1 {
      //border: 1px solid #f00;
      font-size: 50px;
      font-weight: 700;
      line-height: 1.0em;
      margin: 50px 0 40px;
      color: #111;
  
      .category {
        display: block;
        font-family: $en;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 5px;
      }
      & + p {
        font-size: 20px;
        margin-bottom: 60px;
        color: #555;
        span {
          display: block;
        }
      }
    }
    
    h2 {
      font-size: 28px;
      font-weight: 500;
      & + p {
        span {
          display: block;
        }
      }
    }
  }
  
  #section1 {
    background: url(../image/main/bg-main-intro.jpg) no-repeat center -100px / cover #F9FAFC;
    
    .container {
      height: calc(100vh - 130px);
      display: table;
      padding-top: 0;
      .content {
        //border: 1px solid #f00;
        display: table-cell;
        vertical-align: middle;
      }
    }

    h1 {
      font-size: 86px;
      font-weight: 700;
      line-height: 1.2em;
      color: $color-primary;
      margin-bottom: 40px;
      
      .outline {
        color: transparent;
        -webkit-text-stroke: 2px $color-primary;
        text-stroke: 2px $color-primary;
      }
      & + p {
        font-size: 24px;
        margin-bottom: 0;
      }
    }
    
    .notice {
      position: absolute;
      left: 0; bottom: 0;
      width: 100%; height: 100px;
      background: #fff;
      @include box-s(0, -4px, 8px, rgba(0,0,0,0.05));
      
      .notice-wrap {
        //border: 1px solid #f00;
        position: relative;
        width: 100%; max-width: 1400px;
        height: 100%;
        margin: 0 auto;
        padding-top: 0;
        @include box-sizing();
      }
      
      h2 {
        font-family: $en;
        font-weight: 700;
        font-size: 32px;
        color: #111;
        position: absolute;
        left: 0; top: 50%;
        @include translate(0, -50%);
      }
      
      .main-notice {
        //border: 1px solid #f00;
        display: block;
        font-size: 18px;
        color: #111;
        margin-top: 3px;
        width: 60%;
        @include ellipsis(1);
  
        &:hover, &:focus, &:active {
          color: $color-primary;
        }
        
        position: absolute;
        left: 150px; top: 50%;
        @include translate(0, -50%);
        
        .date {
          font-family: $en;
          font-weight: 400;
          color: #888;
          
          &:after {
            content: '';
            display: inline-block;
            width: 1px; height: 16px;
            background: #E1E2E6;
            margin: 0 20px;
            
          }
        }
      }
  
      .btn-more {
        display: block;
        width: 58px; height: 58px;
        background: #F4F5F9;
        @include border-radius(50%);
        
        text-align: center;
        font-size: 24px;
        line-height: 60px;
        
        position: absolute;
        right: 0; top: 50%;
        @include translate(0, -50%);
        
        &:hover, &:focus, &:active {
          background: $color-primary;
          color: #fff;
        }
      }
    }
  }
  
  #section2 {
    background: url(../image/main/bg-main-product.jpg) no-repeat center top / cover #F9FAFC;
    
    h1 {
      color: #fff;
      & + p {
        color: #fff;
        opacity: 0.8;
      }
    }
    
    ul {
      color: #fff;
      li {
        //border: 1px solid #f00;
        margin-bottom: 40px;
        padding: 6px 0 6px 116px;
        background: no-repeat left center / 90px;
        
        &:nth-child(1) {
          background-image: url(../image/main/product-1@2x.png);
        }
        &:nth-child(2) {
          background-image: url(../image/main/product-2@2x.png);
        }
        &:nth-child(3) {
          background-image: url(../image/main/product-3@2x.png);
        }
        
        p {
          opacity: 0.6;
        }
      }
    }
  }
  
  #section3 {
    background: url(../image/main/bg-main-service1.jpg) no-repeat center top / cover #F9FAFC;
  
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        //border: 1px solid #f00;
        position: relative;
        flex: 1 1 270px;
        max-width: 270px;
        padding: 10px 10px 0;
        @include box-sizing();
        text-align: center;
        
        h2 {
          position: relative;
          width: 250px; height: 250px;
          @include border-radius(50%);
          @include box-sizing();
          margin: 0 auto 30px;
          color: #fff;
          span {
            display: inline-block;
            margin-top: 135px;
          }
          
          &:before {
            content:'';
            display: block;
            width: 270px; height: 270px;
            border-width: 10px;
            border-style: solid;
            @include border-radius(50%);
            @include box-sizing();
            
            position: absolute;
            left: 50%; top: 50%;
            @include translate(-50%, -50%);
          }
        }
        
        i {
          //border: 1px solid #f00;
          font-size: 58px;
          color: #E1E2E6;
          position: absolute;
          right: -30%; top: 100px;
        }
        
        &:nth-child(1) {
          h2 {
            background: url(../image/main/service1-1@2x.png) no-repeat center 33% #4DA4F2;
            &:before {
              border-color: rgba(77,164,242,0.2);
            }
          }
        }
        
        &:nth-child(2) {
          h2 {
            background: url(../image/main/service1-2@2x.png) no-repeat center 33% #517CCF;
            &:before {
              border-color: rgba(81,124,207,0.2);
            }
          }
        }
        
        &:nth-child(3) {
          h2 {
            background: url(../image/main/service1-3@2x.png) no-repeat center 33% #5558AF;
            &:before {
              border-color: rgba(85,88,175,0.2);
            }
          }
        }
        
        &:nth-child(4) {
          h2 {
            background: url(../image/main/service1-4@2x.png) no-repeat center 33% #724EAB;
            &:before {
              border-color: rgba(114,78,171,0.2);
            }
          }
          &:after {
            display: none;
          }
        }
        
      }
    }
  }
  
  #section4 {
    background: url(../image/main/bg-main-service2.jpg) no-repeat center top / cover #F9FAFC;
  
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
      li {
        //border: 1px solid #f00;
        position: relative;
        flex: 1 1 500px;
        min-height: 115px;
        padding-left: 114px;
        margin: 0 20px 115px;
        @include box-sizing();
      
        h2 {
          color: #111;
          span {
            font-family: $en;
          }
        }
        
        &:nth-child(1) {
          background: url(../image/main/service2-1@2x.png) no-repeat left top / 90px;
        }
      
        &:nth-child(2) {
          background: url(../image/main/service2-2@2x.png) no-repeat left top / 90px;
        }
      
        &:nth-child(3) {
          background: url(../image/main/service2-3@2x.png) no-repeat left top / 90px;
        }
      
        &:nth-child(4) {
          background: url(../image/main/service2-4@2x.png) no-repeat left top / 90px;
        }
      
      }
    }
  }
  
  #section5 {
    background: url(../image/main/bg-main-about-us.jpg) no-repeat center top / cover #283767;
    
    h1 {
      color: #fff;
      & + p {
        color: #fff;
        opacity: 0.8;
      }
    }
  
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
      justify-content: center;
      li {
        position: relative;
        flex: 1 1 280px;
        max-width: 320px;
        margin: 0 20px;
        padding: 260px 20px 50px;
        text-align: center;
        @include box-sizing();
        @include border-radius(20px);
      
        h2 {
          color: #111;
          & + p {
            opacity: 0.6;
          }
        }
  
        background: no-repeat center 50px / 190px #fff;
  
        &:nth-child(1) {
          background-image: url(../image/main/about-us-1@2x.png);
        }
        &:nth-child(2) {
          background-image: url(../image/main/about-us-2@2x.png);
        }
        &:nth-child(3) {
          background-image: url(../image/main/about-us-3@2x.png);
        }
        &:nth-child(4) {
          background-image: url(../image/main/about-us-4@2x.png);
        }
      
      }
    }
  }
  
  #section6 {
    background: url(../image/main/bg-main-faq.jpg) no-repeat center top / cover #EBEDF6;
    
    .container {
      width: 100%; max-width: 100%;
      height: 100vh;
      
      .tlt {
        width: 100%; max-width: 1400px;
        margin: 0 auto;
      }
    }

    .faq-container {
      //border: 1px solid #f00;
      width: 100%; max-width: 1400px;
      margin: 0 auto;
      padding: 0 0 60px;
      overflow: visible;
      @include box-sizing();
    }
    
    .swiper-slide {
      width: 420px; height: 400px;
      margin-right: 40px;
  
      a {
        display: block;
        overflow: hidden;
        
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        
        padding: 40px;
        background: #fff;
        line-height: 2.5em;
  
        @include border-radius(20px);
        @include box-sizing();
        
        strong {
          display: block;
          font-family: $en;
          font-size: 50px;
          font-weight: 600;
          color: $color-primary;
          line-height: 1.0em;
          margin-bottom: 30px;
        }
        h2 {
          color: #111;
          @include ellipsis(3);
        }
     
        i {
          font-size: 48px;
          color: #E1E2E6;
          position: absolute;
          right: 40px; bottom: 40px;
        }
        
        &:hover, &:focus, &:active {
          background: $color-primary;
          strong, h2 {
            color: $white;
          }
          @include box-s(0, 20px, 30px, rgba(85,88,175, 0.5))
        }
      }
    }
  }
  
  #section7 {
    background: url(../image/main/bg-main-cs.jpg) no-repeat left top / cover #1E1F2D;

    .container {
      h1 {
        //border: 1px solid #f00;
        margin-bottom: 60px;
        color: #fff;
      }
    }
    
    .box-wrap {
      //border: 1px solid #f00;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
      
      .box {
        position: relative;;
        display: table;
        flex: 1 1 280px;
        //height: 260px;
        margin: 0 20px;
        @include border-radius(20px);
        @include box-sizing();
        
        .box-inner {
          //border: 1px solid #f00;
          background: url(../image/main/cs2.png) no-repeat right center;
          display: table-cell;
          vertical-align: middle;
        }
        
        &.b1 {
         width: 60%; max-width: 820px;
          background: url(../image/main/cs1.png) no-repeat 50px center #fff;
          padding: 50px 50px 50px 240px;
          color: #111;
          
          h2 {
            a {
              display: block;
              font-family: $en;
              font-size: 50px;
              font-weight: 700;
              color: $color-primary;
              line-height: 1.5em;
            }
          }
      
          dl {
            overflow: hidden;
            margin-bottom: 10px;
            dt {
              float: left;
              color: #999;
              margin-right: 10px;
            }
            dd {
              color: #555;
              span {font-family: $en;}
            }
            & + a {
              display: block;
              font-family: $en;
              font-weight: 700;
              font-size: 24px;
              color: #111;
              &:hover, &:focus, &:active {
                color: $color-primary;
              }
            }
          }
        }
    
        &.b2 {
          position: relative;
          width: 40%; max-width: 540px;
          background-color: $color-primary;
          color: #fff;
          padding: 50px;
          
          @include box-sizing();
  
          &:hover, &:focus {
            h2 {
              & + p {
                opacity: 1.0;
              }
            }
          }
          
          h2 {
            display: block;
            font-family: $en;
            font-size: 50px;
            font-weight: 700;
            line-height: 1.5em;
            & + p {
              opacity: 0.6;
              margin-top: 10px;
            }
            i {
              font-size: 48px;
              opacity: 0.3;
            }
          }
        }
        
      }
    }
    
    footer {
      width: 100%;
      position: absolute;
      left: 0; bottom: 0;
    }
  }
}

/***** Main 모바일 대응 *****/
.main-article {
  
  @include mq($until: xx-large) {
    //border: 1px solid #f00;
    
    #section1 {
      .notice {
        h2 {
          left: 40px;
          & + .main-notice {
            left: 190px;
          }
        }
        .btn-more {
          right: 40px;
        }
      }
    }
  }
  
  @include mq($until: x-large) {
   //border: 1px solid #00f;
    
    .section {
      .container {
        padding: 60px 40px 0;
      }
      h1 {
        margin-top: 30px;
        //border: 1px solid #f00;
      }
    }
    
    #section2 {
      ul li{
        margin-bottom: 20px;
      }
    }
    
    #section3 {
      ul {
        //border: 1px solid #ff0;
        justify-content: center;
        li {
          //border: 1px solid #f00;
          flex: 1 1 220px;
          margin-bottom: 30px;
      
          h2 {
            width: 160px; height: 160px;
            margin: 0 auto 20px;
            span {
              font-size: 24px;
              margin-top: 85px;
            }
        
            &:before {
              width: 180px; height: 180px;
            }
            background-size: 90px !important;
            background-position: center 38px !important;
          }
  
          i {display: none;}
        }
      }
    }
    
    #section4 {
      ul {
        margin: 0 -10px;
        li {
          //border: 1px solid #f00;
          flex: 1 1 400px;
          margin: 0 10px 50px;
        }
      }
    }
    
    #section5 {
      ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        justify-content: center;
        li {
          position: relative;
          flex: 1 1 400px;
          max-width: 50%;
          margin: 0 10px 20px;
          padding: 20px 20px 20px 140px;
          text-align: left;
      
          background: no-repeat 20px center / 100px #fff;
          p {
            span {
              display: inline-block;
            }
          }
        }
      }
      
    }
    
    #section6 {
      .faq-container {
        //border: 1px solid #f00;
        padding: 0 0 60px;
      }
  
      .swiper-slide {
        width: 390px; height: 350px;
        margin-right: 40px;
      }
    }
    
    #section7 {
      .box-wrap {
        //border: 1px solid #f00;
        margin: 0 -10px;
        
        .box {
          flex: 1 1 280px;
          //min-height: 200px;
          margin: 0 10px;
          
          &.b1 {
            background-size: 110px;
            background-position: 30px center;
            padding: 20px 30px 20px 160px;
            h2 {
              a {letter-spacing: -0.01em;}
            }
          }
      
          &.b2 {
            //width: 100%; max-width: 100%;
            max-width: 380px;
            padding: 20px 30px;
            .box-inner {
              p span {
                //border: 1px solid #f00;
               // display: inline-block;
              }
            }
          }
      
        }
      }

    }
  }
  
  @include mq($until: large) {
    //border: 1px solid #0f0;
    .section {
      h1 {
        margin-top: 60px;
      }
    }
    
    #section1 {
      background: url(../image/main/m-bg-main-intro.jpg) no-repeat center center / cover #F9FAFC;
  
      .container {
        display: block;
        
        .content {
          display: block;
        }
      }
      
      h1 {
        margin-top: 100px;
      }
    }
    
    #section2 {
      background: url(../image/main/m-bg-main-product.jpg) no-repeat center bottom / cover #5558AF;
      
    }
    
    #section3 {
      background: url(../image/main/m-bg-main-service1.jpg) no-repeat center center / cover #F9FAFC;
      
      ul {
        li {
          //border: 1px solid #f00;
          flex: 1 1 250px;
        }
      }
    }
    
    #section4 {
      background: url(../image/main/m-bg-main-service2.jpg) no-repeat center center / cover #F9FAFC;
      
      ul {
        li {
          //border: 1px solid #f0f;
          min-height: 100px;
          padding-left: 120px;
          margin-bottom: 30px;
     
        }
      }
    }
    
    #section5 {
      background: url(../image/main/m-bg-main-about-us.jpg) no-repeat center bottom / cover #283767;
  
      ul {
        li {
          position: relative;
          flex: 1 1 600px;
          width: 100%; max-width: 100%;
          margin: 0 0 20px;
        }
      }
    }
    
    #section6 {
      background: url(../image/main/m-bg-main-faq.jpg) no-repeat center center / cover #F9FAFC;
      
    }
    
    #section7 {
      background: url(../image/main/m-bg-main-cs.jpg) no-repeat center bottom / cover #1E1F2D;
  
      .container {
        h1 {
          //border: 1px solid #ff0;
          margin-bottom: 40px;
        }
      }
      
      .box-wrap {
        margin: 0;
        .box {
          margin: 0;
          min-height: 200px;
  
          &.b1 {
            width: 100%; max-width: 100%;
            margin-bottom: 20px;
            padding: 20px 50px 20px 240px;
            background-size: 150px;
          }
      
          &.b2 {
            width: 100%; max-width: 100%;
            padding: 20px 50px;
            .box-inner {
              p span {
                //border: 1px solid #f00;
                display: inline-block;
              }
            }
          }
          
        }
      }
    }
  }
  
  @include mq($until: medium) {
    //border: 1px solid #f0f;
  
  }
  
  @include mq($until: small) {
    //border: 1px solid #cd630c;
    
    .section {
      h1 {
        font-size: 25px;
        margin: 30px 0 10px;
    
        .category {
          font-size: 12px;
          margin-bottom: 5px;
        }
        & + p {
          font-size: 14px;
          margin-bottom: 30px;
          span {
            display: inline;
          }
        }
      }
  
      h2 {
        font-size: 14px;
        & + p {
          font-size: 12px;
          line-height: 1.6em;
          span {
            display: inline-block;
          }
        }
      }
    }
    
    #section1 {
      h1 {
        font-size: 43px;
        margin: 60px 0 15px;
    
        .outline {
          -webkit-text-stroke: 1px $color-primary;
          text-stroke: 1px $color-primary;
        }
        & + p {
          font-size: 14px;
        }
      }
  
      .notice {
        width: 100%; height: auto;
    
        .notice-wrap {
          //border: 1px solid #f00;
          padding: 15px 15px 15px;
        }
    
        h2 {
          font-size: 18px;
          position: inherit;
          left: 0; top: 0;
          @include translate(0, 0);
        }
    
        .main-notice {
          overflow: hidden;
          display: block;
          font-size: 14px;
          margin-top: 0;
          width: 100%; max-width: 100%;
          @include ellipsis(1);
  
          position: static;
          left: inherit; top: inherit;
          @include translate(0, 0);
      
          .date {display: none;}
        }
    
        .btn-more {
          width: 29px; height: 29px;
          font-size: 12px;
          line-height: 29px;
      
          position: absolute;
          right: 15px; top: 15px;
          @include translate(0, 0);
          
        }
      }
    }
    
    #section2 {
      ul {
        li {
          //border: 1px solid #f00;
          margin-bottom: 15px;
          padding: 0 0 6px 65px;
          background: no-repeat left top / 45px;
        }
      }
    }
    
    #section3 {
      ul {
        //border: 1px solid #ff0;
        display: block;
        overflow: hidden;
        li {
          //border: 1px solid #f00;
          width: 50%; max-width: inherit;
          float: left;
          margin-bottom: 30px;
      
          h2 {
            width: 102px; height: 102px;
            margin: 0 auto 15px;
            span {
              font-size: 14px;
              margin-top: 60px;
            }
        
            &:before {
              width: 115px; height: 115px;
              border-width: 13px;
            }
            
            background-size: 65px !important;
            background-position: center 24px !important;
            
          }
          
        }
      }
    }
    
    #section4 {
      ul {
        li {
          //border: 1px solid #f00;
          min-height: auto;
          padding-left: 58px;
          margin-bottom: 25px;
          h2 {
            & + p {
              padding-right: 0;
            }
          }
          background-size: 45px !important;
        }
      }
    }
    
    #section5 {
      ul {
        display: block;
        margin: 0;
        li {
          position: relative;
          min-height: 90px;
          
          margin: 0 0 10px;
          padding: 15px 15px 15px 90px;
          @include border-radius(10px);
          
          background: no-repeat 15px center / 60px #fff;
        }
      }
    }
    
    #section6 {
      .faq-container {
        //border: 1px solid #f00;
        padding: 0 0 15px;
      }
  
      .swiper-slide {
        width: 210px; height: 230px;
        margin-right: 20px;
        position: relative;
        a {
          padding: 20px;
          line-height: 1.5em;
      
          @include border-radius(10px);
      
          strong {
            font-size: 30px;
            margin-bottom: 10px;
          }
          
          i {
            font-size: 30px;
            right: 20px; bottom: 20px;
          }
      
          &:hover, &:focus, &:active {
            @include box-s(0, 10px, 15px, rgba(85,88,175, 0.5))
          }
        }
      }
    }
    
    #section7 {
      .container {
        height: 100vh;
      }
  
      .box-wrap {
        .box {
          padding: 20px;
          min-height: 140px;
          @include border-radius(10px);
          
          &.b1 {
            margin-bottom: 15px;
            background-position: 20px center;
            background-size: 75px;
            padding: 20px 20px 20px 115px;
            
            h2 {
              a {
                font-size: 25px;
              }
            }
        
            dl {
              font-size: 12px;
              margin-bottom: 0;
 
              & + a {
                font-size: 12px;
              }
            }
          }
      
          &.b2 {
            padding: 20px;
            .box-inner {
              background-size: 52px;
              p {
                span {display: block;}
              }
            }
            
            h2 {
              font-size: 25px;
              & + p {
                margin-top: 0;
              }
              i {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
  
  @include mq($until: x-small) {
    //border: 1px solid #33dec5;

  }
  
  @media (max-height: 420px) and (orientation: landscape) {
    //border: 1px solid #0f0;
  
    #section1 {
      .notice {
        width: 100%; height: auto;
    
        .notice-wrap {
          //border: 1px solid #f00;
          padding: 15px 15px 15px;
        }
    
        h2 {
          font-size: 18px;
          position: inherit;
          left: 0; top: 0;
          @include translate(0, 0);
        }
    
        .main-notice {
          display: block;
          font-size: 14px;
          margin-top: 0;
          width: 100%; max-width: 100%;
          @include ellipsis(1);
      
          position: static;
          left: inherit; top: inherit;
          @include translate(0, 0);
      
          .date {display: none;}
        }
    
        .btn-more {
          width: 29px; height: 29px;
          font-size: 12px;
          line-height: 29px;
      
          position: absolute;
          right: 15px; top: 15px;
          @include translate(0, 0);
      
        }
      }
    }
  }
  
}