// -----------------------------------------------------------------------------
// R & D
// -----------------------------------------------------------------------------

/***** R & D 공통 *****/

.rnd-article {
  //border: 1px solid #f00;
  .vod-wrap {
    max-width: 980px;
    //height: 470px;
    background: #000;
    margin: 160px auto 50px;
  }
  
  .title-wrap{
    margin-top: 130px;
    position: absolute;
    left: 25px;
    z-index: 10000;
    & + .container {
      p {
        padding-top: 35px;
      }
    }
  }
  
  .local-menu-wrap{
    //border: 1px solid #f00;
    padding-left: 10px;
    padding-top: 25px;
    .local-menu-list {
      li {
        a {
          display: block;
          text-align: left;
          color: #ccc;
          font-size: 13px;
          padding: 5px 0;
          &:hover, &:focus, &:active, &.is-current {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  .container {
    padding-left: 350px;
    
    .rnd-image-swiper {
      position: relative;
      margin: 30px auto 100px;
      
      .swiper-container {
        position: static;
        
        .swiper-button-prev,
        .swiper-button-next {
          //border: 1px solid #f00;
          cursor: pointer;
          overflow: hidden;
          text-indent: -3000px;
          padding: 15px 10px;
          background: no-repeat center center rgba(0,0,0, 0.5);
          @include translate(0, -50%);
          margin: 0;
          &:hover, &:focus {
            background-color: rgba(0,0,0, 0.75);
          }
        }
        .swiper-button-prev {
          left: 0;
          background-image: url(../image/common/icon-left-72px.png);
        }
        .swiper-button-next {
          right: 0;
          background-image: url(../image/common/icon-right-72px.png);
        }
        .swiper-pagination {
          bottom: -40px;
        }
        .swiper-pagination-bullet{
          margin: 0 5px;
          background: rgba(255,255,255,0.3);
          opacity: 100;
        }
        .swiper-pagination-bullet-active {
          background: #fff;
          @include box-s(0, 0, 10px, #fff);
        }
      }
    }
    
    .content {
      padding-top: 70px;
      .rnd-intro {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;
        li {
          position: relative;
          overflow: hidden;
          flex: 1 1 300px;
          margin: 0 8px 16px;
          padding: 24px;
          border: 1px solid #aaa;
          background: rgba(0,0,0,0.4);
          @include border-radius(4px);
          @include box-sizing();
          
          strong {
            font-weight: 600;
            font-size: 11.0em;
            line-height: 1.0;
            color: rgba(255,255,255, 0.1);
            position: absolute;
            //left: 50%; top: 50%;
            //@include translate(-50%, -50%);
            right: 20px; bottom: -25px;
          }
          .sub-h3 {
            font-size: 1.4em;
            margin-bottom: 16px;
            & + p {
              margin-bottom: 0;
            }
          }
        }
      }
      
      p {
        margin-bottom: 20px;
      }
      figure {
        margin-bottom: 50px;
        img {
          //max-width: 700px;
          width: 100%;
        }
      }
      .doc-list {
        //overflow: hidden;
        margin: 20px -8px 0;
        li {
          float: left;
          width: 25%;
          padding: 8px ;
          @include box-sizing;
        }
      }
    }
  }
  
  .thesis-box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    li {
      position: relative;
      flex: 1 1 236px;
      margin: 0 8px 16px;
      cursor: pointer !important;
    }
    
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 24px;
      border: 1px solid #aaa;
      background: rgba(0,0,0,0.3);
      @include border-radius(4px);
      @include box-sizing();
      
      &:hover, &:focus, &:active {
        border-color: $color-sub;
        background: rgba(0,0,0,0.6);
        @include box-s(0, 0, 10px, rgba(39,194,241, 0.5));
        text-decoration: none;
      }
      strong {
        display: block;
        margin-bottom: 12px;
        color: $color-sub;
        font-weight: 600;
        font-size: 0.95em;
      }
      dl {
        dt {
          font-size: 0.95em;
          //font-weight: 600;
          margin-bottom: 24px;
        }
        dd {
          font-size: 0.75em;
          color: #ccc;
          &:last-child {
            margin-top: 10px;
            //border: 1px solid #f00;
          }
        }
      }
    }
    
    & + .btn-area {
      //border: 1px solid #f00;
      padding-top: 26px;
    }
  }

}

/***** R & D 모바일 대응 *****/

.rnd-article {
  @include mq($until: x-large) {
    //border: 1px solid #f00;
    
  }
  
  @include mq($until: large) {
    //border: 1px solid #00f;
    
  }
  
  @include mq($until: medium) {
    //border: 1px solid #0ff;
    
  }
  
  @include mq($until: small) {
    //border: 1px solid #0f0;
    .swiper-container {
      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }
  }
  
  @include mq($until: x-small) {
    //border: 1px solid #959;
    
  }
}
